/* Form Styles */

/* -------------------------- */
/* Contact Form */
/* -------------------------- */

.wpcf7 {
	border-top: 2px dotted silver;
	form {
		margin-top: 2em;
	}
}

.wpcf7-form-control-wrap {
	input[type="text"], textarea { 
		width: 212px; 
		background-color: #f9f9f9; 
		padding: 6px; 
		@media screen and (max-width: $mobile-h) {
			width: 90%;
			display: inline-block;
		}
	}
	textarea, input[type="text"] { 
		border: 2px solid #bbb; 
		&:focus { 
			background-color: #fff; 
			border: 2px solid $light-green; 
		}
	}
	textarea { 
		width: 450px; 
		@media screen and (max-width: $mobile-h) {
			width: 90%;
		}
	}
}

.contact-text-space {
	width: 90px;
	display: inline-block;
}

.contact-text {
	width: 107px;
	display: inline-block;
}

.required_txt { 
	background: url(images/sprite-forms.png) no-repeat 0px -27px transparent; 
	color: $dark-green; 
	font-size: 0.9em;
	padding-left: 16px; 
}

.required_icon {
	background: url(images/sprite-forms.png) no-repeat 0px -22px transparent;
	width: 18px;
	height: 22px;
	display: inline-block;
}

.cf_txt {
	font-size: 0.9em; 
}

.radio_btns { 
	margin-top: 5px; 
	font-style: normal; 
}

.radio-phone {
	@media screen and (max-width: $mobile-h) {
		width: 100%;
		margin-top: ($base/2);
		display: block;
	}
}

.wpcf7-list-item { 
	margin-right: 30px; 
}

.green_btn {
	width: 138px;
	height: 18px;
	background-color: #90c848;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#90c848), to(#4d8528));
	background-image: -webkit-linear-gradient(0% 100% 90deg, #4d8528, #90c848);
	background-image: -moz-linear-gradient(0% 100% 90deg, #4d8528, #90c848);
	background-image: -ms-linear-gradient(0% 100% 90deg, #4d8528, #90c848);
	background-image: -o-linear-gradient(0% 100% 90deg, #4d8528, #90c848);
	background-image: linear-gradient(0% 100% 90deg, #4d8528, #90c848);
	color: #fff;
	font-size: 1em;
	font-weight: bold;
	text-align: center;
	text-shadow: 0 -1px 1px #000;
	padding: 8px 0;
	display: inline-block;
	border: 1px solid #82b942;
	@include border-radius($bx-radius);
	@include box-shadow2(0px 2px 2px #222, inset 0px 0px 1px #73a532);
	&:hover, &:focus { 
		cursor: pointer;
		background-color: #82b942;
		background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#90c848), to(#82b942));
		background-image: -webkit-linear-gradient(0% 100% 90deg, #82b942, #90c848);
		background-image: -moz-linear-gradient(0% 100% 90deg, #82b942, #90c848);
		background-image: -ms-linear-gradient(0% 100% 90deg, #82b942, #90c848);
		background-image: -o-linear-gradient(0% 100% 90deg, #82b942, #90c848);
		background-image: linear-gradient(0% 100% 90deg, #82b942, #90c848);
		@include box-shadow2(0px 1px 1px #222, inset 0px 1px 2px #73a532)
	}
}

body.page-id-15 .green_btn { 
	height: 38px; 
}

div.callout li .green_btn { 
	width: 100px !important ; 
}